<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        {{ details.firstname }} {{ details.lastname }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                details: {
                    firstname: 'John',
                    lastname: 'Duo'
                }
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
